@import "variables";

body.td-home {
    background-color: $background-color;
}

section#cncf {
    padding-top: 60px;
    padding-bottom: 140px;
    background-image: url(/img/cncf.png);
    background-position: center 100px;
    background-repeat: no-repeat;
    background-size: 300px;
    font-size: 20px;
    text-align: center;
  }

.display-7 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.3;
}

.tag {
    $base: 1.5rem;

    display: block;
    width: fit-content;
    background-color: $cyan-1;
    color: $black;
    padding: $base / 2 $base;
    border-radius: 50vh;

    &--dark {
        background-color: $cyan-9;
        color: $white
    }
}

.card.card-rounded {
    border-radius: 2.5rem;
	max-width: 100%;
	border: none;

    .card-body {
        padding: 2.5rem;
    }

    &--sm {
        border-radius: 1.25rem;
    }

    &--shaded {
        box-shadow: 0px 4px 20px rgba($black, 0.1);
    }
}

.grey-scale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.min-h-auto {
    min-height: auto;
}

.underline {
    text-decoration: underline !important;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none !important;
    }
}

.text-body {
    font-size: 1.25rem;
}