@import "variables";

body.td-home {
    background-color: #F5F5F5;
}

section#cncf {
    padding-top: 60px;
    padding-bottom: 140px;
    background-image: url(/img/cncf.png);
    background-position: center 100px;
    background-repeat: no-repeat;
    background-size: 300px;
    font-size: 20px;
    text-align: center;
  }


.single-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;

    width: 100%;
    height: 200px;

    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 40px;

    img {
        max-height: 100px;
        max-width: 100%;
    }
}

.swiper-slide {
    padding: 40px;
}

.swiper-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bullet-class-custom {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #BABABA;
    border-radius: 50%;
    margin: 0 5px;
    padding: 4px;
    cursor: pointer;
    bottom: 0;
}

.bullet-active-class-custom {
    background: #03B4C8;
}

#swiper-pagination-id {
    position: static;
}

.swiper-button-next-custom,
.swiper-button-prev-custom {
    img {
        display: block;
        width: 100%;
    }
}

#main-header {
    font-size: 100px;
    font-weight: 400;
    font-family: "Open Sans";
}

.info-header {
    background: #E1F2F5;
    border-radius: 40px;
}

.additional-header-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.button-primary {
    $base: 1.5rem;

    background-color: $primary;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: $base / 2 $base * 1.8;

    &--sm {
        padding: $base / 2.6 $base * 1.3;
    }
}

.display-7 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.3;
}

.tag {
    $base: 1.5rem;
	width: fit-content;
    

    background-color: $cyan-1;
    color: $black;
    padding: $base / 2 $base;
    border-radius: 50vh;

    &--dark {
        background-color: $cyan-9;
        color: $white
    }
}

@media (min-width: 992px) {
    .col-l-2-5 {
        flex: 0 0 20% !important;
        max-width: 20% !important;
    }

    .px-4-5 {
        padding-left: 3rem !important;
        padding-right: 3rem !important;


        &:nth-child(5n + 1) {
            padding-left: 0 !important;
        }
    }
}

.card.card-rounded {
    border-radius: 2.5rem;
	max-width: 100%;
	border: none;

    &--sm {
        border-radius: 1.25rem;
    }

    &--shaded {
        box-shadow: 0px 4px 20px rgba($black, 0.1);
    }
}

.grey-scale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
