@import "variables";

body.td-home {
    background-color: #FAFAFA;
}

section#cncf {
    padding-top: 60px;
    padding-bottom: 140px;
    background-image: url(/img/cncf.png);
    background-position: center 100px;
    background-repeat: no-repeat;
    background-size: 300px;
    font-size: 20px;
    text-align: center;
  }


.single-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;

    width: 100%;
    height: 200px;

    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 40px;

    img {
        max-height: 100px;
        max-width: 100%;
    }
}

.swiper-slide {
    padding: 40px;
}

.swiper-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bullet-class-custom {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #BABABA;
    border-radius: 50%;
    margin: 0 5px;
    padding: 4px;
    cursor: pointer;
    bottom: 0;
}

.bullet-active-class-custom {
    background: #03B4C8;
}

#swiper-pagination-id {
    position: static;
}

.swiper-button-next-custom,
.swiper-button-prev-custom {
    img {
        display: block;
        width: 100%;
    }
}

#main-header {
    font-size: 6rem;
    font-weight: 400;

    @media (max-width: 1200px) {
        font-size: 5rem;
    }

    @media (max-width: 1020px) {
        font-size: 4rem;
    }

    @media (max-width: 768px) {
        font-size: 3rem;
    }

    @media (max-width: 576px) {
        font-size: 1.75rem;
    }
}

.info-header {
    background: $cyan-1;
    border-radius: 40px;
    border-left: 20px solid $cyan-1;
    border-right: 20px solid $cyan-1;

    @media (max-width: 768px) {
        border-radius: 20px;
        border-left: 10px solid $cyan-1;
        border-right: 10px solid $cyan-1;
    }

    @media (max-width: 576px) {
        border-radius: 10px;
        border-left: 5px solid $cyan-1;
        border-right: 5px solid $cyan-1;
    }
}


.additional-header-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 576px) {
        font-size: $font-size-base !important;
    }
}

.button-primary {
    $base: 1.5rem;

    background-color: $primary;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: $base / 2 $base * 1.8;

    &--sm {
        padding: $base / 2.6 $base * 1.3;
    }
}

.display-7 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.3;
}

.tag {
    $base: 1.5rem;
	width: fit-content;
    

    background-color: $cyan-1;
    color: $black;
    padding: $base / 2 $base;
    border-radius: 50vh;

    &--dark {
        background-color: $cyan-9;
        color: $white
    }
}

@media (min-width: 992px) {
    .col-l-2-5 {
        flex: 0 0 20% !important;
        max-width: 20% !important;
    }
}

.card.card-rounded {
    border-radius: 2.5rem;
	max-width: 100%;
	border: none;

    .card-body {
        padding: 2.5rem;
    }

    &--sm {
        border-radius: 1.25rem;
    }

    &--shaded {
        box-shadow: 0px 4px 20px rgba($black, 0.1);
    }
}

.grey-scale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
