@import "variables";

body.td-home {
    background-color: #F5F5F5;
}

section#cncf {
    padding-top: 60px;
    padding-bottom: 140px;
    background-image: url(/img/cncf.png);
    background-position: center 100px;
    background-repeat: no-repeat;
    background-size: 300px;
    font-size: 20px;
    text-align: center;
  }

.button-primary {
    $base: 1.5rem;

    background-color: $primary;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: $base / 2 $base * 1.8;

    &--sm {
        padding: $base / 2.6 $base * 1.3;
    }
}

.display-7 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.3;
}

.tag {
    $base: 1.5rem;
	width: fit-content;
    

    background-color: $cyan-1;
    color: $black;
    padding: $base / 2 $base;
    border-radius: 50vh;

    &--dark {
        background-color: $cyan-9;
        color: $white
    }
}

.col-l-2-5 {
    @media (min-width: 992px) {
        flex: 0 0 20% !important;
        max-width: 20% !important;
    }
}

.card.card-rounded {
    border-radius: 2.5rem;
	max-width: 100%;
	border: none;

    &--sm {
        border-radius: 1.25rem;
    }

    &--shaded {
        box-shadow: 0px 4px 20px rgba($black, 0.1);
    }
}

.grey-scale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.pl-2-5 {
    padding-left: 0.75rem;
}

.pt-4-5 {
    padding-top: 2.5rem;
}
