@import "variables";

$icon-shadow: 0 0.25rem 1.5rem rgba($black, 0.1);

.schema {
  @include media-breakpoint-up(lg){
    margin-top: -5rem
  }
}

.community-card {
  height: 12rem;

  .card-text {
    font-size: 0.75rem;
    opacity: 0.5;
  }

  &__icon {
    height: 4rem;
    width: 4rem;
  }
}

.feature-card {
  background-color: $gray-2;

  &:has(button[aria-expanded="true"]) {
    @include media-breakpoint-up(lg) {
      animation: out 0.35s ease backwards;
      height: fit-content;
    }
  }

  &:has(button[aria-expanded="false"]) {
    @include media-breakpoint-up(lg) {
      animation: in 0.35s ease forwards;
    }
  }

  &__expand-control {
    &:hover {
      color: rgba($primary, 0.6) !important;
    }

    &:focus,
    :active {
      box-shadow: none !important;
    }

    &[aria-expanded="false"] {
      .expanded {
        display: none;
      }
    }

    &[aria-expanded="true"] {
      .collapsed {
        display: none;
        &:parent.feature-card {
          height: 20rem;
        }
      }
    }
  }

  &__icon {
    padding: 1rem;
    border-radius: 50vh;
    background-color: $white;
    align-self: flex-start;
    box-shadow: $icon-shadow;
  }

  @keyframes in {
    from {
      height: fit-content;
    }
    to {
      height: 20.5rem;
    }
  }

  @keyframes out {
    from {
      height: 20.5rem;
    }
    to {
      height: fit-content;
    }
  }
}

.swiper {
  &-slide {
    height: auto !important;
  }

  &__container {
    @include media-breakpoint-down(md) {
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }

  &__control {
    rotate: 90deg;

    & > svg {
      height: 1.25rem;
      width: 1.25rem;
    }

    &-reverse {
      @extend .swiper__control;
      rotate: -90deg;
    }

    &--disabled {
      color: $gray-500;
      cursor: default;
    }

    @include media-breakpoint-down(md) {
      display: none !important;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__pagination {
    gap: 0.5rem;
  }

  &__bullet {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50vh;
    background-color: $gray-500;

    &--active {
      background: $primary;
    }
  }
}

.quote-slide {
  &__logo {
    width: 100%;
    height: 6.25rem;
    object-fit: scale-down;
  }

  &__avatar {
    height: 3rem;
    width: 3rem;
  }
}

.eclipse {
  $width: 50rem;
  $height: 50rem;

  &__layout {
    position: absolute;
    left: 50%;
    // height: 1000px;
    transform: translate(-50%, -50%);
    z-index: -9999;
    top: 0;
  }

  position: absolute;
  height: $height;
  width: $width;
  background: linear-gradient(180deg, rgba(3, 180, 200, 0) 0%, $primary 100%);
  opacity: 0.3;
  filter: blur(100px);
  z-index: -9999;

  &-top {
    top: 85rem;
    left: -20rem;
  }

  &-bottom {
    top: 173rem;
    right: 0;
  }

  @include media-breakpoint-down(md){
    display: none;
  }
}

.footer {
  background-color: $black;

  &__link {
    background-color: $white;
  }
}
