@import "variables";

.community-card {
  height: 12.5rem;

  .card-title {
    font-weight: 600;
  }

  .card-text {
    font-size: 0.75rem;
    opacity: 0.5;
  }

  &__icon {
    height: 4rem;
    width: 4rem;
  }
}

.feature-card {
  background-color: $gray-2;

  &-wrapper {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
  }

  &-btn-expand {
    color: $primary;
    padding: 0;

    &:hover {
      color: rgba($primary, 0.6);
    }
    &:focus,
    :active {
      box-shadow: none !important;
    }

    &[aria-expanded=false] {
      .expanded {
        display: none;
      }
    }

    &[aria-expanded=true] {
      .collapsed {
        display: none;
      }
    }
  }

  .card-body {
    display: flex;
    gap: 1.5rem;
  }

  &__icon {
    padding: 1rem;
    border-radius: 50vh;
    background-color: $white;
    align-self: flex-start;
  }
}

.bullet-class-custom {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  background: $gray-450;
  border-radius: 50%;
  margin: 0 5px;
  padding: 4px;
  cursor: pointer;
  bottom: 0;
}

.bullet-active-class-custom {
  background: $btn-active;
}

.swiper-button-next-custom,
.swiper-button-prev-custom {
  @media (max-width: 1024px) {
    display: none !important;
  }
}

.swiper-slide {
  padding: 20px;
  height: auto !important;
}

.slide-img-container {
  img {
    width: 100%;
    height: 6.25rem;
    object-fit: scale-down;
  }
}

#main-header {
  font-size: 6rem;
  font-weight: 400;

  @media (max-width: 1200px) {
    font-size: 5rem;
  }

  @media (max-width: 1020px) {
    font-size: 4rem;
  }

  @media (max-width: 768px) {
    font-size: 3rem;
  }

  @media (max-width: 576px) {
    font-size: 1.75rem;
  }
}

.info-header {
  background: $cyan-1;
  border-radius: 40px;
  border-left: 20px solid $cyan-1;
  border-right: 20px solid $cyan-1;

  @media (max-width: 768px) {
    border-radius: 20px;
    border-left: 10px solid $cyan-1;
    border-right: 10px solid $cyan-1;
  }

  @media (max-width: 576px) {
    border-radius: 10px;
    border-left: 5px solid $cyan-1;
    border-right: 5px solid $cyan-1;
  }
}

.additional-header-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 576px) {
    font-size: $font-size-base !important;
  }
}

.quote-author {
  .quote-author-img img {
    height: 3rem;
    width: 3rem;
    max-width: none;
  }

  .quote-author-position {
    color: $gray-550;
  }
}

.swiper-slide {
  padding: 20px;
}

.swiper-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bullet-class-custom {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #BABABA;
  border-radius: 50%;
  margin: 0 5px;
  padding: 4px;
  cursor: pointer;
  bottom: 0;
}

.bullet-active-class-custom {
  background: #03B4C8;
}

#swiper-pagination-id {
  position: static;
}

.swiper-button-next-custom,
.swiper-button-prev-custom {
  img {
    display: block;
    width: 100%;
  }
}

#main-header {
  font-size: 6rem;
  font-weight: 400;

  @media (max-width: 1200px) {
    font-size: 5rem;
  }

  @media (max-width: 1020px) {
    font-size: 4rem;
  }

  @media (max-width: 768px) {
    font-size: 3rem;
  }

  @media (max-width: 576px) {
    font-size: 1.75rem;
  }
}

.info-header {
  background: $cyan-1;
  border-radius: 40px;
  border-left: 20px solid $cyan-1;
  border-right: 20px solid $cyan-1;

  @media (max-width: 768px) {
    border-radius: 20px;
    border-left: 10px solid $cyan-1;
    border-right: 10px solid $cyan-1;
  }

  @media (max-width: 576px) {
    border-radius: 10px;
    border-left: 5px solid $cyan-1;
    border-right: 5px solid $cyan-1;
  }
}

.additional-header-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 576px) {
    font-size: $font-size-base !important;
  }
}

.slide-img-container {
  img {
    height: 100px;
    width: 100%;
    object-fit: scale-down;
  }
}

.quote-author {
  .quote-author-img img {
    height: 3rem;
    width: 3rem;
    max-width: none;
  }

  .quote-author-position {
    color: $gray-550;
  }
}
