@import "variables";

$icon-shadow: 0 0.25rem 1.5rem rgba($black, 0.1);

.community-card {
  height: 12.5rem;

  &--gray {
    background-color: $gray-2;
  }

  .card-text {
    font-size: 0.75rem;
    opacity: 0.5;
  }

  &__icon-wrapper {
    padding: 1.5rem;
    border-radius: 50vh;
    background-color: $white;
    align-self: flex-start;
    box-shadow: $icon-shadow;
  }

  &__icon {
    height: 4rem;
    width: 4rem;
  }
}

.feature-card {
  background-color: $gray-2;

  &__wrapper {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
  }

  &__expand-control {
    &:hover {
      color: rgba($primary, 0.6) !important;
    }

    &:focus,
    :active {
      box-shadow: none !important;
    }

    &[aria-expanded="false"] {
      .expanded {
        display: none;
      }
    }

    &[aria-expanded="true"] {
      .collapsed {
        display: none;
      }
    }
  }

  &__icon {
    padding: 1rem;
    border-radius: 50vh;
    background-color: $white;
    align-self: flex-start;
    box-shadow: $icon-shadow;
  }
}

.swiper {
  &-slide {
    height: auto !important;
  }

  &__container {
    margin-left: -2.5rem;
    margin-right: -2.5rem;

    @include media-breakpoint-down(md) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__control {
    rotate: 90deg;

    & > svg {
      height: 1.25rem;
      width: 1.25rem;
    }

    &-reverse {
      @extend .swiper__control;
      rotate: -90deg;
    }

    &--disabled {
      color: $gray-500;
      cursor: default;
    }

    @include media-breakpoint-down(md) {
      display: none !important;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__pagination {
    gap: 0.5rem;
  }

  &__bullet {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50vh;
    background-color: $gray-500;

    &--active {
      background: $primary;
    }
  }
}

.quote-slide {
  &__logo {
    width: 100%;
    height: 6.25rem;
    object-fit: scale-down;
  }

  &__avatar {
    height: 3rem;
    width: 3rem;
  }
}

.eclipse {
  $width: 50rem;
  $height: 50rem;

  position: absolute;
  height: $height;
  width: $width;
  background: linear-gradient(180deg, rgba(3, 180, 200, 0) 0%, $primary 100%);
  opacity: 0.3;
  filter: blur(100px);
  transform: rotate(30deg);
  z-index: -9999;

  &-top {
    left: calc(100% / 2 - #{$width});
    top: $height + 10rem;
  }

  &-bottom {
    right: calc(100% / 2 - #{$width});
    top: calc(#{$height} * 2.5 + 10rem);
  }
}

.footer {
  &--dark {
    background-color: $black;
  }
}

.footer-link {
  &--dark {
    background-color: $white;
  }
}
