$announcement_height: 2rem;

@mixin animate($from, $to, $name) {
    @keyframes #{$name} {
        from {
            top: $from;
        }
        to {
            top: $to;
        }
    }
}

//
// Main navbar
//

.td-navbar-cover {
    background: $primary;

    @include media-breakpoint-up(md) {
        background: transparent !important;

        .nav-link {
            text-shadow: 1px 1px 2px $dark;
        }

        .brand-name {
            display: none;}

    }

    &.navbar-bg-onscroll .nav-link {
        text-shadow: none;
    }
}

.ml-md-auto {
    margin-right: auto !important;
}

.navbar {
    padding: 1rem 3rem;
    background: $white !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

    > * {
        flex: 1 1 0%;
    }
}

.td-navbar {
    min-height: 4rem;
    margin: 0;
    z-index: 32;

    .brand-name {
        display: none;}

    @include media-breakpoint-up(md) {
        position: fixed;
        top: 0;
        width: 100%;

        &--announcement {
            &-show {
                @include animate(0, $announcement_height, shift);
                animation: shift 0.5s forwards 1s;
            }

            &-hide {
                @include animate($announcement_height, 0, unshift);
                animation: unshift 0.5s forwards;
            }
        }
    }

    .navbar-brand {
        text-transform: none;
        text-align: middle;
        margin: 0;
        padding: 0;

        .nav-link {
            display: inline-block;
            margin-right: -30px;
        }

        .navbar-logo {
            svg {
                display: inline-block;
                position: static;
                top: 0;
                margin-left: 8px;
                z-index: 33;
                padding: 0px;
                height: 100%;
                width: 120px;

                path {
                    fill: $primary !important;
                }

                @include media-breakpoint-down(md) {
                    width: 120px;
                    padding: 0px;
                    margin-left: 12px;
                    margin-right: 12px;
                }
            }
        }

        >.navbar-logo + span.font-weight-bold, .navbar-brand__name {
                 display: none;
        }

    }

    .nav-link {
        text-transform: none;
    }

    .td-search-input {
        border: none;

        @include placeholder {
            color: $navbar-dark-color;
        }
    }

    .dropdown {
        min-width: 100px;
        .dropdown-toggle {
            &::after {
                border: none !important;
            }
        }
        svg {
            margin-bottom: 0.125rem;
        }
    }
    

    @include media-breakpoint-down(md) {
        padding-right: .5rem;
        padding-left: .75rem;
        align-items: flex-center;

        .td-navbar-nav-scroll {
            //max-width: calc(100% + .75rem - 96px - 1.5rem);
            max-width: calc(100%);
            height: 2.5rem;
            margin-top: .25rem;
            overflow: hidden;
            font-size: .875rem;
            flex-grow: 2;

            .nav-link {
                padding-right: .25rem;
                padding-left: 0;
            }

            .navbar-nav {
                margin-top: 0 !important;
                overflow-x: auto;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }
        }
    }
}

// Icons
#main_navbar {
    li i {
    padding-right: 0.5em;

        &:before {
            display: inline-block;
            text-align: center;
            min-width: 1em;
        }
    }
  .alert {
    background-color: inherit;
    padding:0;
    color: $secondary;
    border: 0;
    font-weight: inherit;

        &:before {
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f0d9";
            padding-left: 0.5em;
            padding-right: 0.5em;
        }
    }
}

// Foldable sidebar menu
nav.foldable-nav {

    &#td-section-nav {
        position: relative;
        padding-top: 1rem;
    }

    &#td-section-nav label {
        margin-bottom: 0;
        width: 100%;
    }

    .td-sidebar-nav__section, .with-child ul {
        list-style: none;
        padding: 0.1rem 0 0 0;
        margin: 0;
    }

    #m-docs-li > .ul-1 > li {
        padding-left: 1.5em;
    }

    #m-blog-li > .ul-1 > li {
        padding-left: 0;
    }

    ul.foldable {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    }

    input:checked ~ ul.foldable {
        max-height: 100000vmax;
        transition: max-height 1s ease-in-out;
    }

    input[type=checkbox] { display: none; }

    .with-child, .without-child {
        position: relative;
        padding-left: 1.5em;
    }

    .ul-1 .with-child > label:before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0da";
        position: absolute;
        left: 0.1em;
        padding-left: 0.4em;
        padding-right: 0.4em;
        font-size: 1em;
        color: $gray-900;
        transition: all 0.5s;
        &:hover{
        transform: rotate(90deg);
        }
    }

    .ul-1 .with-child > input:checked ~ label:before {
        color: $primary;
        transform: rotate(90deg);
        transition: transform 0.5s;
    }

    .with-child ul { margin-top: 0.1em; }

}

.navbar-btn {
    border-radius: 0.5rem;
    padding: 0.5rem 1.25rem;
    white-space: nowrap;
}

@media (hover: hover) and (pointer: fine) {

    nav.foldable-nav {

        .ul-1 .with-child > label:hover:before {
            color: $primary;
            transform: rotate(30deg);
            transition: transform 0.5s;
        }

        .ul-1 .with-child > input:checked ~ label:hover:before {
            color: $primary;
            transform: rotate(60deg) !important;
            transition: transform 0.5s;
        }
    }
}

.plug {
    width: 100%;
}

// 
// Announcement bar
// 

.announcement-bar {
    $height: 1.5rem;

    z-index: 9999;
    width: 100%;
    background-color: $black;
    color: $primary;
    
    @include media-breakpoint-up(md) {
        position: fixed;
        top: -$announcement_height;
        height: $announcement_height;
        @include animate(-$announcement_height, 0, announcement-show);
        animation: announcement-show 0.5s forwards 1s;
    }

    &--hide {
        @include animate(0, -$announcement_height, announcement-hide);
        animation: announcement-hide 0.5s forwards;
    }

    &__button-close {
        margin-left: 1rem;
        > svg {
            fill: $white;
            height: 1.5rem;
            width: 1.5rem
        }
    }
}
