footer {
  min-height: 200px;
}

//docsy imports "pageinfo";
@import "changelog";
@import "training";
@import "base";
@import "version_banner";
@import "utilities";
@import "collapse";
@import "tabs";

// Mixins
@import "mixins/grid";
@import "mixins/icon";

// Overrides
@import "card";
@import "type";
@import "tables";
@import "pagination";

.icon {
  padding: 1rem;
  width: max-content;
  border-radius: 50vh;
  background-color: $white;
  align-self: flex-start;
  box-shadow: 0 0.25rem 1.5rem rgba($black, 0.1);

  &-vendor {
    max-width: 4rem;
  }
}

.icon-button {
  height: 4rem;
  width: 4rem;
  border-radius: 50vh;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.25rem 1.5rem rgba($black, 0.1) !important;
}

//
// Boxes
//
.td-box {
  .row {
    padding-left: 0;
    padding-right: 0;
  }
}

//
// Misc
//
main {
  p,
  li {
    font-size: 1.25rem;
    color: $dark;
  }
}

a {
  font-weight: $font-weight-bold;
}

img[src*="#img-fit"] {
  width: 100%;
}

img[src*="#img-fit"] {
  object-fit: contain;
}

#documentation {
  h1 {
    font-size: $h3-font-size;
  }
  h2 {
    font-size: $h5-font-size;
  }
  h3 {
    font-size: $h6-font-size;
  }
}

.eclipse {
  $width: 50rem;
  $height: 50rem;

  &__layout {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -9999;
    top: 0;
  }

  position: absolute;
  height: $height;
  width: $width;
  background: linear-gradient(180deg, rgba(3, 180, 200, 0) 0%, $primary 100%);
  opacity: 0.3;
  filter: blur(100px);
  z-index: -9999;

  &-top {
    top: 85rem;
    left: -20rem;
  }

  &-bottom {
    top: 175rem;
    right: 0;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.contributor-date {
  min-width: 350px;
  font-size: 1.25rem;
}
