// TODO: merge with _variables when revamp is ready

$black: #121212;

$h1-font-size: $font-size-base * 4;
$h2-font-size: $font-size-base * 3.5;
$h3-font-size: $font-size-base * 2.5;
$h4-font-size: $font-size-base * 2;
$h5-font-size: $font-size-base * 1.75;
$h6-font-size: $font-size-base * 1.5;

$card-border-radius:          2.5rem;
$card-spacer-y:               1rem;
$card-spacer-x:               2.5rem;
$card-border-width:           0;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075);
$box-shadow:                  0 .25rem 1.25rem rgba($black, .05);
$box-shadow-lg:               0 1rem 3rem rgba($black, .175);

$body-bg: #FAFAFA;
$card-deck-margin: 0.75rem;

$td-block-space-top-base: 2 * $spacer;
$td-block-space-bottom-base: 2 * $spacer;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1320px
);
