//
// TODO: Use this stylesheet only while restyle is WIP. Must be deleted when
// all the sections are updated. variables must be placed to project variables
// file
//
@import "main";
@import "variables_restyle";

// Bootstrap imports to override
@import "../../themes/docsy/assets/vendor/bootstrap/scss/type";
@import "../../themes/docsy/assets/vendor/bootstrap/scss/card";
@import "../../themes/docsy/assets/vendor/bootstrap/scss/utilities";

.card {
  max-width: unset;
}

.icon {
  padding: 1rem;
  width: max-content;
  border-radius: 50vh;
  background-color: $white;
  align-self: flex-start;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
}
