//
// TODO: Use this stylesheet only while restyle is WIP. Must be deleted when
// all the sections are updated. variables must be placed to project variables
// file
//
@import "main";
@import "variables_restyle";

// Bootstrap imports to override
@import "../../themes/docsy/assets/vendor/bootstrap/scss/type";
@import "../../themes/docsy/assets/vendor/bootstrap/scss/card";
@import "../../themes/docsy/assets/vendor/bootstrap/scss/utilities";

.icon {
  padding: 1rem;
  width: max-content;
  border-radius: 50vh;
  background-color: $white;
  align-self: flex-start;
  box-shadow: 0 0.25rem 1.5rem rgba($black, 0.1);
}

.icon-button {
  height: 4rem;
  width: 4rem;
  border-radius: 50vh;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
}

body {
  background-color: $body-bg;
}

// Buttons

@if $enable-rounded {
  .btn {
      border-radius: 0.5rem;

      &-lg {
          border-radius: 0.5rem;
      }

      &-sm {
          border-radius: 0.5rem;
      }
  }
}

// Cards

.card {
  max-width: unset;
  border-radius: $card-border-radius;
}

.card-deck {
  max-width: unset;
}

.footer-nav {
  padding-top: 3rem;
}