<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "announcement-bar.html" . }}
      {{ partial "navbar.html" . }}
    </header>
    {{ partial "version-banner.html" . }}
    <div class="container-fluid td-default td-outer">
      <main role="main" class="td-main">
        {{ block "main" . }}{{ end }}
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partialCached "scripts.html" . }}
    {{ $swiperSlider := resources.Get "js/swiper-bundle.min.js" | minify | fingerprint }}
    <script src="{{ $swiperSlider.RelPermalink }}"></script>
    {{ $slider := resources.Get "js/slider.js" | minify | fingerprint }}
    <script src="{{ $slider.RelPermalink }}"></script>
    {{ $announcementBar := resources.Get "js/announcement-bar.js" | minify | fingerprint }}
    <script src="{{ $announcementBar.RelPermalink }}"></script>
  </body>
</html>
