<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "about/head.html" . }}
  </head>
  <body class="td-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-default td-outer">
      <main class="td-main" role="main">
        <section class="row td-box">
          <div class="container">
            <div class="col">
            {{ block "main" . }}{{ end }}
            </div>
          </div> 
        </section>
          <section class="row td-box">
            <div class="container">
              <div class="col">
                {{ partial "about/feedback.html" . }}
              </div>
            </div>
          </section>
          <section class="row td-box pt-0">
            <div class="container">
              <div class="col">
                {{ partial "about/footer-nav.html" . }}
              </div>
            </div>
          </section>
      </main>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
