{{ $links := site.Data.en.community }}
<div class="container">
  <div class="grid-md-3 grid-lg-4 grid-1 grid-sm-2 gap-4">
    {{ range $links }}
        <div class="card text-center card-rounded card-rounded--shaded community-card" >
          <div class="card-body">
            <a class="text-body" href="{{ .url }}">
              <img class="community-card__icon" src="{{ .icon }}"/>
              <div class="card-title mt-3 mb-0">
                {{ .title }}
              </div>
              <div class="card-text">
                {{ .content | markdownify }}
              </div>
            </a>
          </div>
        </div>
    {{ end }}
  </div>
</div>