{{ define "main" }}

<section class="row">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <h1 class="display-1 mb-3">{{ T "home_falco_what_is_falco_title" | markdownify }}</h1>
        <p class="mb-5">{{ T "home_falco_what_is_falco" | markdownify }}</p>
        <p class="text-primary text-uppercase font-weight-bold mb-1">{{ T "home_falco_get_started" | markdownify }}</p>
        <a href="#" role="button" class="btn btn-primary px-5 py-2 mt-3">
          {{ T "home_falco_primary_btn" | markdownify }}
        </a>
      </div>
      <div class="col-md-6 col-12">
        <img src="/img/svg/falco-schema.svg" alt="plug"/>
      </div>
    </div>
  </div>
</section>

<section class="row">
  <div class="container td-arrow-down">
      <div class="row">
          <div class="col-12 col-md-5">
              <a href="/" class="tag">{{ T "home_falco_features_tag" | markdownify}}</a>
              <h3 class="display-2 mt-3 pt-1 mb-4 pb-3">{{ T "home_falco_features" }} </h3>
          </div>
          <div class="col-12 col-md-7">
              {{ partial "features.html" . }}
          </div>
      </div>
  </div>
</section>

<section class="row">
  <div class="container slider-wrapper">
    <a class="tag">{{ T "home_falco_testimonials_tag" | markdownify}}</a>
    <h3 class="display-2 mt-3">
      {{ T "homa_falco_secured_by_falco" | markdownify }}
    </h3>
    <div class="swiper__container d-flex justify-content-center align-items-center mt-4">
      <span class="swiper__control">{{ with resources.Get "icons/chevron-down.svg" }}{{ ( . | minify).Content | safeHTML }}{{ end }}</span>
      <div class="swiper">
        <div class="swiper-wrapper">
          {{ $data := index $.Site.Data .Site.Language.Lang }}
          {{ range $quote := $data.quotes }}
          <div class="swiper-slide px-3">
            {{ partial "quote.html" (dict "text" $quote.text  "logoUrl" $quote.logoUrl "authorImgUrl" $quote.authorImgUrl "authorName" $quote.authorName "authorPosition" $quote.authorPosition) }}
          </div>
          {{ end }}
        </div>
        <div class="swiper__pagination d-flex justify-content-center mt-4"></div>
      </div>
      <span class="swiper__control-reverse">{{ with resources.Get "icons/chevron-down.svg" }}{{ ( . | minify).Content | safeHTML }}{{ end }}</span>
    </div>
  </div>
</section>

<section class="row">
  <div class="container td-arrow-down">
      <div class="row">
          <div class="col">
              <a href="/community/" class="tag">{{ T "home_falco_community_tag" | markdownify}}</a>
              <h3 class="display-2 mt-3 pt-1 mb-4 pb-3">{{ T "home_falco_community" }} </h3>
              {{ partial "community.html" . }}
          </div>
      </div>
  </div>
</section>

<section id="cncf">
  <p>{{ T "cncf_status_statement" | markdownify }}</p>
</section>

<!-- <section id="desc" class="row relative td-box--gradient td-box--height-auto">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-md-6 align-self-center h4">
                {{ T "home_falco_intro_title" | markdownify }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 align-self-end h5">
                <div class="pb-4">{{ T "home_falco_intro_main" | markdownify }}</div>
                <div class="pb-4">{{ T "home_falco_intro_plugins" | markdownify }}</div>
            </div>
            <div class="col-md-6">
                <img width="100%" src="/img/falco-events-flow-simplified.png" />
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 align-self-center h6 ">
                <div class="text-justify">
                    {{ T "home_falco_intro_cncf" | markdownify }}
                    {{ T "home_falco_intro_camera" | markdownify }}
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 align-self-center">
                <div class="mt-5">
                    <a href="https://sysdig.com/"><img width="200px" src="/img/created-by-sysdig.png" /></a>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- {{ with .Content }}
{{ . }}
{{ end }} -->

<!-- <section class="row relative td-box--gradient position-relative td-box--1 td-box--height-auto">
    <div class="container td-arrow-down">
        <div class="row">
            <div class="col text-center">
                <h3 class="display-1 mt-0 mt-md-3 pb-3">{{ T "home_featured_videos" }}</h3>
                {{ partial "videos.html" .}}
            </div>
        </div>
    </div>
</section> -->


{{ partial "logos.html" . }}

<!-- <section id="cncf">
    <p>{{ T "cncf_status_statement" | markdownify }}</p>
</section> -->


{{ end }}
