<div class="container">
  <div class="row">
    {{ $index := .Get "index"}}
    {{ $col1 := .Get "col" | default 7 }}
    {{ $col2 := sub 12 $col1 }}
    <div class="col-md-{{ $col1 }} col-12 order-{{ $index }} d-flex flex-column justify-content-center">
      <img class="w-100" src="{{ .Get "src" }}" alt="{{ .Get "alt" }}">
    </div>
    <div class="col-md-{{ $col2 }} col-12 order-0 d-flex flex-column justify-content-center">
      <h3>{{ .Get "header" }}</h3>
      <p>
        {{ $.Inner | markdownify }}
      </p>
    </div>
  </div>
</div>
